/* VARIABLES ---------------------------------------------------------------- */

:root {
    --green: #2ad26d;
    --green-dark: #1c8a48;
    --bg: #202222;
    --bg-dark: #101111;
    --radius: 11px;
}

/* PAGE --------------------------------------------------------------------- */

body {
    background-color: var(--bg-dark);
}

/* Apply basic typography */
body, button {
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 15px;
    color: #ffffff;
}

/* Text highlight colors */
::selection {
    background: var(--green);
    color: #ffffff;
}

/* HEADER ------------------------------------------------------------------ */

header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    padding-bottom: 20px;
    margin: 20px;
    border-bottom: 1px solid var(--green-dark);
}
h1 {
    flex-grow: 2;
    margin: 0 auto;
    font-size: 30px;
    color: var(--green);
}
header button {
    padding: 0 12px;
    background: var(--green);
    border: none;
    border-bottom: 2px solid var(--green-dark);
    color: #000000;
    cursor: pointer;
}
header button:active {
    border-top: 2px solid var(--bg-dark);
    border-bottom: none;
}

/* MAIN --------------------------------------------------------------------- */

main {
    min-height: 300px;
    padding: 0 20px; /* elements above and below already have spacing */
}
.hours > div {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between; /* ? */
    align-items: center;
    margin-bottom: 2px;
    background-color: var(--bg);
}
.hours > div:first-child {
    border-top-right-radius: var(--radius);
    border-top-left-radius: var(--radius);
}
.hours > div:last-child {
    border-bottom-right-radius: var(--radius);
    border-bottom-left-radius: var(--radius);
}
.hours h3 {
    display: block;
    flex-grow: 2; /* expand to fill remaining space in row */
    margin: 0 20px;
    font-size: 15px;
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 0.33px;
    color: var(--green);
}
.hours span {
    display: block;
    margin-right: 15px;
}
.hours .details {
    font-size: 13px;
    color: #aaa;
}
.hours .temp {
    font-weight: bold;
}
.hours img {
    display: block;
    margin: 0 10px 0 0;
    -webkit-filter: drop-shadow(0 2px 6px #000000);
    filter: drop-shadow(0 2px 6px #000000);
}

/* FOOTER ------------------------------------------------------------------- */

footer {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    margin: 20px;
    border-top: 1px solid #303632;
}
footer, footer a {
    color: #506053;
}
footer a {
    text-decoration: none;
    border-bottom: 1px solid;
}
footer a:hover {
    color: var(--green);
}

