/* VARIABLES ---------------------------------------------------------------- */

:root {
    --green: #2ad26d;
    --green-dark: #1c8a48;
    --bg: #202222;
    --bg-dark: #101111;
    --radius: 11px;
}

/* PAGE --------------------------------------------------------------------- */

body {
    background-color: var(--bg-dark);
}

.page-wrapper {
    max-width: 1000px;
    margin: 0 auto;
}

/* Apply basic typography */
body, button {
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 15px;
    color: #ffffff;
}

/* Text highlight colors */
::selection {
    background: var(--green);
    color: #ffffff;
}

/* HEADER ------------------------------------------------------------------ */

header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    padding-bottom: 20px;
    margin: 20px;
    border-bottom: 1px solid var(--green-dark);
}
h1 {
    flex-grow: 2;
    margin: 0 auto;
    font-size: 30px;
    color: var(--green);
}
header button {
    padding: 0 12px;
    background: var(--green);
    border: none;
    border-bottom: 2px solid var(--green-dark);
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    color: #000000;
    white-space: nowrap;
    cursor: pointer;
}
header button:active {
    border-top: 2px solid var(--bg-dark);
    border-bottom: none;
}

/* Small Widths */
@media (max-width: 700px) {
    header {
        margin: 20px 15px;
    }
    h1 {
        padding: 3px 0;
        font-size: 24px;
    }
    header button {
        padding: 8px 12px;
    }
}

/* Tiny Widths */
@media (max-width: 380px) {
    header {
        margin: 20px 10px;
    }
    h1 {
        padding: 6px 0;
        font-size: 18px;
    }
    header button {
        padding: 6px 10px;
    }
}

/* MAIN --------------------------------------------------------------------- */

main {
    min-height: 100px;
    padding: 10px 20px; /* elements above and below already have spacing */
}
.hours > div {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin-bottom: 2px;
    background-color: var(--bg);
    overflow: hidden;
}
.hours > div:first-child {
    border-top-right-radius: var(--radius);
    border-top-left-radius: var(--radius);
}
.hours > div:last-child {
    border-bottom-right-radius: var(--radius);
    border-bottom-left-radius: var(--radius);
}
.hours h3 {
    display: block;
    flex-grow: 2; /* expand to fill remaining space in row */
    margin: 0 20px;
    font-size: 15px;
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 0.33px;
    color: var(--green);
}
.hours span {
    display: block;
    margin-right: 10px;
}
.hours .details {
    font-size: 13px;
    color: #9AA69C;
}
.hours .temp {
    margin: 0 8px;
    font-weight: bold;
}
.hours img {
    display: block;
    min-height: 40px; /* expand to fill space if image doesn't load properly */
    margin: 0 10px 0 0;
    -webkit-filter: drop-shadow(0 2px 6px #000000);
    filter: drop-shadow(0 2px 6px #000000);
}

.hours .loading {
    display: block;
    margin: 40px auto;
    background: transparent;
    color: var(--green);
    text-align: center;
}

/* Small Widths */
@media (max-width: 700px) {
    main {
        padding: 5px 15px;
    }
    .hours > div {
        flex-flow: row wrap;
        padding-bottom: 10px;
    }
    .hours h3 {
        order: 1;
        margin: 10px 20px;
    }
    .hours span {
        order: 4;
        width: 100%;
        margin: 0 20px 10px 20px;
    }
    .hours .temp {
        order: 2;
        width: auto;
        margin: 0;
    }
    .hours img {
        order: 3;
        margin: 0;
    }
}

/* Tiny Widths */
@media (max-width: 380px) {
    main {
        padding: 0 10px;
    }
    .hours > div {
        justify-content: flex-start;
    }
    .hours h3 {
        width: 100%;
        margin: 20px 20px 10px 20px;
    }
    .hours span {
    }
    .hours .temp {
        margin: 0 20px 10px 20px;
    }
    .hours img {
        position: absolute;
        right: 20px;
    }
}

/* FOOTER ------------------------------------------------------------------- */

footer {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding-top: 20px;
    margin: 20px;
    border-top: 1px solid #303632;
}
footer, footer a {
    color: #506053;
}
footer span {
    display: block;
    margin-bottom: 5px;
    text-align: right;
}
footer a {
    text-decoration: none;
    border-bottom: 1px solid;
}
footer a:hover {
    color: var(--green);
}

/* Small Widths */
@media (max-width: 700px) {
    footer {
        flex-flow: row wrap;
        margin: 20px 15px;
    }
}

/* Tiny Widths */
@media (max-width: 380px) {
    footer {
        margin: 20px 10px;
    }
}
